* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica', Arial, sans-serif;
  color: #ffffff;
  background-color: #000;
}

canvas {
  display: block;
}

.help {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.5;
  pointer-events: none;
}
